/* Reservation CSS */
.reservation-section {
  padding: 18em 0 10em;
}
.MuiDayCalendar-header span {
  font-size: 1.3rem;
}
.MuiDayCalendar-weekContainer button {
  font-size: 1.3rem;
}
.reservation-left {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/reservation.jpeg");
  background-size: cover;
  background-position: center bottom;
}
.reservation-left img {
  display: none;
}
