/* Error Payment Css */
.error-payment-section {
  padding: 15em 0 10em;
  display: grid;
  place-items: center;
}
.error-payment-content {
  display: grid;
  place-items: center;
  position: relative;
  width: 70%;
  padding: 4em;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
}
.error-content {
  width: 80%;
  margin: 0 auto;
  display: grid;
  place-items: center;
}
.error-content h2 {
  font-size: 3.5rem;
  color: var(--main-color);
  margin: 2rem 0;
}
.error-content p {
  font-size: 2rem;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 2rem;
}
.error-content .main-btn {
  font-size: 1.8rem;
}

/* Extra small devices (phones, 900px and down) */
@media only screen and (max-width: 900px) {
  .error-payment-content {
    width: 90%;
    padding: 2em;
  }
}
@media only screen and (max-width: 600px) {
  .error-content h2 {
    font-size: 2.8rem;
  }
  .error-content p {
    font-size: 1.6rem;
  }
}
