/* Navbar CSS */
.navbar {
  background-color: #fff !important;
  padding: 0.5em 0;
}
.logo {
  width: 12rem;
}
.right_menu {
  display: flex;
  align-items: center;
}
.right_menu a {
  display: inline-block;
  font-size: 1.8rem;
  padding: 0 1rem;
  font-weight: 600;
  color: var(--main-black);
}
.log-out {
  width: 100%;
}
div#\:r0\: {
  transform: translate(1115px, 472px);
}
.MuiTooltip-tooltip.MuiTooltip-tooltipPlacementBottom.css-ja5taz-MuiTooltip-tooltip {
  font-size: 1.2rem;
}
li.MuiButtonBase-root {
  font-size: 1.4rem;
}
.right_menu
  button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeSmall {
  margin-left: 0;
}
