/* Footer CSS */
.footer {
  margin-top: 4rem;
}
.footer-img {
  display: flex;
  align-items: center;
}
.footer-img img {
  max-width: 12em;
}
.social-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.social-icons a {
  margin-right: 1rem;
}
.social-icons svg {
  font-size: 2.8rem;
  color: var(--main-color);
}
.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-copyright p {
  font-size: 1.7rem;
  color: var(--light-black);
}
/* Extra small devices (phones, 900px and down) */
@media only screen and (max-width: 900px) {
  .footer-img,
  .social-icons {
    display: none;
  }
  .footer-copyright {
    width: 100%;
    text-align: center;
    padding: 1em 0;
  }
}
@media only screen and (max-width: 400px) {
  .footer-copyright p {
    font-size: 1.4rem;
  }
}
