/* Reviews CSS */
.review-section {
  padding: 10em 0;
}
.review-section .MuiContainer-root {
  position: relative !important;
}
.review-section h2 {
  line-height: 110%;
  font-size: 5.4rem;
  letter-spacing: -0.3rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.review-section .review-section-desc {
  font-size: 1.7rem;
}
.review-section .review-desc {
  font-size: 1.7rem;
  margin-top: 1rem;
}
.reviewer-slide {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}
.review-card {
  flex-grow: 1;
  height: 100%;
  padding: 2.4em;
}

.review-card .content h4 {
  line-height: 120%;
  font-size: 2rem;
  font-weight: 600;
  color: var(--main-color);
  margin: 1.5rem 0;
}
.review-card .content p:first-child {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.reviewer-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 1.8rem;
}
.reviewer-info img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.reviewer-info .reviewer-name {
  font-size: 1.6rem;
  font-weight: 600;
}

/* Swiper CSS */
.swiper-slide {
  height: auto !important;
  display: flex !important;
}

.reviewer-slide.mySwiper {
  position: static;
}

/* swiper button */
.swiper-button-prev {
  position: absolute !important;
  top: 6em !important;
  right: 13em !important;
  left: auto !important;
  background: var(--main-color);
  color: #fff !important;
  padding: 3em;
  border: 4px solid var(--main-color);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 3rem !important;
  font-weight: 600;
}
.swiper-button-next {
  position: absolute !important;
  top: 6em !important;
  right: 5em !important ;
  background: var(--main-color);
  color: #fff !important;
  padding: 3em;
  border: 4px solid var(--main-color);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #fff;
  color: var(--main-color) !important;
}
/* Extra small devices (phones, 992px and down) */
@media only screen and (max-width: 992px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

@media only screen and (max-width: 600px) {
  .review-section {
    padding: 5em 0;
  }
  .review-section .review-section-desc {
    font-size: 1.6rem;
  }
  .review-section .review-section-desc {
    font-size: 1.6rem;
  }
  .review-section h2 {
    letter-spacing: -0.1rem;
  }
}
@media only screen and (max-width: 400px) {
  .review-section h2 {
    font-size: 4rem;
    line-height: 1.1;
  }
}
