/* My Order CSS */
.order-container {
  margin: 10em 0 !important;
}
.table-container {
  margin-top: 1em;
  border: 3px solid #ccc;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.table-container img {
  width: 4em;
}
.card-container {
  padding: 2em;
  border: 2px solid #ddd;
  height: 100%;
}
