/* About Features CSS */
.about-features {
  padding: 0 0 10em;
}
.feature-left .number-cursive {
  font-size: 4.2rem;
  color: var(--main-color);
  text-align: left;
  margin-bottom: 0.5em;
}
.feature-right-container {
  max-width: 100% !important;
}

.feature-right h2 {
  line-height: 120%;
  font-size: 2.5rem;
  letter-spacing: -0.1rem;
  margin-bottom: 2rem;
  font-weight: 600;
}
.feature-right p {
  font-size: 1.7rem;
}
.feature-container {
  padding: 3em;
}

/* some initial mobile css */
@media only screen and (max-width: 600px) {
  .about-features {
    padding: 0 0 5em;
  }
  .feature-container {
    background: #e0e0e0;
  }
  .feature-right p {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 400px) {
  .feature-right h2 {
    font-size: 2.2rem;
  }
  .feature-left .number-cursive {
    font-size: 3.8rem;
  }
}
